In [60]:
import pandas as pd

# Full File Import
# df = pd.read_csv('./terrorism_new.csv',dtype={"approxdate": str})
# df.head()

# Truncated File Import
df = pd.read_csv('./truncated_terrorism_new.csv')
df.head()


# To export to a smaller CSV for Github Repo
# exportDf = df[['eventid','country_txt', 'targtype1','targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'region_txt','gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3']]
# exportDf.to_csv('truncated_terrorism_new.csv')

/Users/vincent/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,eventid,country_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,region_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3
0,0,197000000001,Dominican Republic,14,Private Citizens & Property,68.0,Named Civilian,Central America & Caribbean,MANO-D,NaN,NaN,NaN,NaN,NaN
1,1,197000000002,Mexico,7,Government (Diplomatic),45.0,"Diplomatic Personnel (outside of embassy, cons...",North America,23rd of September Communist League,NaN,NaN,NaN,NaN,NaN
2,2,197001000001,Philippines,10,Journalists & Media,54.0,Radio Journalist/Staff/Facility,Southeast Asia,Unknown,NaN,NaN,NaN,NaN,NaN
3,3,197001000002,Greece,7,Government (Diplomatic),46.0,Embassy/Consulate,Western Europe,Unknown,NaN,NaN,NaN,NaN,NaN
4,4,197001000003,Japan,7,Government (Diplomatic),46.0,Embassy/Consulate,East Asia,Unknown,NaN,NaN,NaN,NaN,NaN

In [61]:
# Identifying which countries have the highest terrorism incidents

sortedCountries = df.groupby('country_txt').count()
sortedCountries = sortedCountries[['eventid']] 
sortedCountries.rename(columns={'eventid' : 'incident_count'}, inplace=True)
sortedCountries.sort_values('incident_count', ascending = False, inplace = True)
sortedCountries

                                incident_count
country_txt
Iraq                                     26057
Pakistan                                 14847
Afghanistan                              14509
India                                    12853
Colombia                                  8515
Philippines                               7509
Peru                                      6108
United Kingdom                            5335
El Salvador                               5320
Somalia                                   4674
Nigeria                                   4556
Turkey                                    4391
Thailand                                  4032
Yemen                                     3673
Spain                                     3251
Sri Lanka                                 3029
United States                             2926
Algeria                                   2749
France                                    2706
Egypt                                     2534
West Bank and Gaza Strip                  2512
Lebanon                                   2486
Syria                                     2438
Libya                                     2417
Chile                                     2410
Russia                                    2218
Israel                                    2080
South Africa                              2057
Guatemala                                 2052
Nicaragua                                 1977
...                                        ...
Romania                                      6
Brunei                                       6
Slovenia                                     6
North Yemen                                  6
Grenada                                      5
Bahamas                                      5
Iceland                                      4
Solomon Islands                              4
People's Republic of the Congo               4
Dominica                                     3
Barbados                                     3
French Polynesia                             3
Gambia                                       3
Turkmenistan                                 2
Mauritius                                    2
Seychelles                                   2
Vanuatu                                      2
St. Kitts and Nevis                          2
Equatorial Guinea                            2
South Yemen                                  2
Andorra                                      1
St. Lucia                                    1
Wallis and Futuna                            1
Vatican City                                 1
North Korea                                  1
International                                1
Antigua and Barbuda                          1
Falkland Islands                             1
South Vietnam                                1
New Hebrides                                 1

[205 rows x 1 columns]

In [62]:
# Identifying the motives behind the incidents, for ALL terrorist groups and ALL world regions


target = df.groupby('targtype1_txt').count()
target = target[['eventid']]
target.rename(columns = {'eventid' : 'incident_count'}, inplace = True)
target.sort_values('incident_count', ascending=False, inplace = True)
target

                                incident_count
targtype1_txt
Private Citizens & Property              46283
Military                                 29978
Police                                   26023
Government (General)                     22274
Business                                 21277
Transportation                            6929
Unknown                                   6449
Utilities                                 6158
Religious Figures/Institutions            4693
Educational Institution                   4500
Government (Diplomatic)                   3664
Terrorists/Non-State Militia              3207
Journalists & Media                       3072
Violent Political Party                   1959
Airports & Aircraft                       1363
Telecommunication                         1052
NGO                                       1020
Tourists                                   449
Maritime                                   371
Food or Water Supply                       330
Abortion Related                           265
Other                                      148

In [63]:
# Identifying the motives behind the incidents, for North America


filterBoolean = df['region_txt'] == 'North America'
filteredTarget = df[filterBoolean]

target = filteredTarget.groupby('targtype1_txt').count()
target = target[['eventid']]
target.rename(columns = {'eventid' : 'incident_count'}, inplace = True)
target.sort_values('incident_count', ascending=False, inplace = True)
target

                                incident_count
targtype1_txt
Business                                   927
Private Citizens & Property                498
Government (General)                       433
Abortion Related                           260
Police                                     240
Military                                   212
Religious Figures/Institutions             192
Educational Institution                    184
Government (Diplomatic)                    184
Journalists & Media                        133
Utilities                                  104
Airports & Aircraft                         57
Transportation                              38
NGO                                         34
Unknown                                     18
Violent Political Party                     17
Tourists                                    12
Telecommunication                           10
Terrorists/Non-State Militia                 8
Maritime                                     8
Food or Water Supply                         8
Other                                        2